<div class="flex items-center gap-2 pagination-container">
  <!-- Anterior -->
  <button 
    [disabled]="currentPage === 1" 
    (click)="pageChange.emit(currentPage - 1)"
    class="page-btn nav-btn"
  >
    <i class="fas fa-chevron-left text-[10px]"></i>
  </button>

  <!-- Páginas -->
  @for (page of pages; track page) {
    <button 
      (click)="pageChange.emit(page)"
      class="page-btn"
      [class.active]="page === currentPage"
    >
      {{ page }}
    </button>
  }

  <!-- Siguiente -->
  <button 
    [disabled]="currentPage === totalPages" 
    (click)="pageChange.emit(currentPage + 1)"
    class="page-btn nav-btn"
  >
    <i class="fas fa-chevron-right text-[10px]"></i>
  </button>
</div>
