@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply h-full overflow-hidden;
    }
}

@layer base {
    :root {
        --color-primary: #2563eb;
        --color-secondary: #0f172a;
    }
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}